* {
    padding: 0;
    margin: 0;
}


html,body
{
    height:100%;
    
}

/* css cho phan nav */

.phannav a{
    color:white !important;
    font-size: 13px;
    margin: 0 15px 0 15px;
    font-weight: 500;
    
}

a.dropdown-item {
    text-transform: capitalize;
    font-size:14px ;
    font-weight:400 !important;
}
a.btn.btn-primary.btn-outline-white.text-uppercase {
    background-color: transparent;
    border: 1px solid white;
}

a.btn.btn-primary.btn-outline-white.text-uppercase:hover {
    background-color:#ec6952;
}

.phannav button {
    background-color: transparent !important;
    transform: scale(1.5)
}

.phannav .navbar-brand {
    font-size: 20px;
    color:white;
    font-weight:700;
    border: 1px solid #ec6952;;
    background: #ec6952;
    border-radius: 3px;
    padding: 13px 33px 13px 33px;
}

a.nav_1 {
    color:#ec6952 !important;
}


.dropdown:hover>.dropdown-menu
{
    display:block;
}

/* css cho phan block1 */




.blockpre1 {
    width: 100%;
    height: 919.58px;
    background: white;
}






.block1 {

    width: 100%;
   
}

 img.nentren {
     object-fit: cover;
     object-position: 0 0;
     width: 100%;
     height: 60%;
}

.block1 .cangiua {
    width: 100%;
    height:100%;
    padding: 0 100px 0 100px ;
}

.navbar-brand.scrolled {
    background: transparent;
    border: none;
    transition: 0.5s;
    color:#ec6952;
}  

a.btn.btn-primary.btn-outline-white.text-uppercase.scrolled {
    background: #ec6952;
    border: none;
    transition: 0.5s;
    color: white !important;
}  


.phannav a.scrolled {
    color: #666 !important;
    transition: 0.5s;
}  

.phannav.scrolled {
    background-color:rgb(255, 255, 255) !important;
    transition: 0.5s;


  }


.boxpricing {
    width: 100%;
}

.boxpricing h3 {
  
    font-weight: 400;
    font-size: 18px;
    border-bottom: 1px dashed #eee;
    color: #444;    
    margin-top:30px;
    padding-bottom:30px;
    margin-bottom: 30px;
}

.boxpricing li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 10px 0 10px 0;
}

.boxpricing .khoipricing1,.khoipricing2,.khoipricing3 {
    border: 1px solid #EEEEEE;
    background-color:white;
}

.boxpricing .bong {
    -webkit-box-shadow: 0px 0px 19px 1px rgba(166,166,166,1);
-moz-box-shadow: 0px 0px 19px 1px rgba(166,166,166,1);
box-shadow: 0px 0px 19px 1px rgba(166,166,166,1);

}
.boxpricing .khoipricing1 {
    -webkit-box-shadow: 0px 0px 19px 1px rgba(166,166,166,1);
-moz-box-shadow: 0px 0px 19px 1px rgba(166,166,166,1);
box-shadow: 0px 7px 8px -1px rgba(166,166,166,1);

}

.boxpricing .khoipricing3 {
    -webkit-box-shadow: 0px 0px 19px 1px rgba(166,166,166,1);
    -moz-box-shadow: 0px 0px 19px 1px rgba(166,166,166,1);
    box-shadow: 0px 7px 8px -1px rgba(166,166,166,1);  
}






.block1 span.number {
    font-weight: bold;
    font-size:42px;
}

.block1 span.currency {
    font-size:18px;
    color: #666;
    top:-16px;
    left:-8px;
   
    
}

.block1 .cangiua  h2{
          margin-bottom: 1%;
          margin-top:150px;
    
}
.block1 .cangiua  p.intro{
    margin-bottom: 6%;
    font-size: 18px;
}

.block1 .cangiua  h2{
    margin-bottom: 3%;
    font-size:36px;
    font-weight: 300;
}
.block1 .cangiua  span.highlight{
  color:#ec6952;    
}

.block1 .cangiua  .hotro i {
   color :#4a6781;
   margin-right: 5px;

  }

 li.hotro6 .btn {
    background: #ec6952;
    border: #ec6952;

}

.khoipricing2 li.hotro6 .btn {
   padding-bottom: 10px;
}

.cangiua .barron {
    width:300px;
    height:40px;
    display: block;
    background-color: #4a6781;
    transform: rotate(45deg);
    right:-108px;
    top:26px; 
}

@media (max-width:765px) {
    .container.cangiua.d-flex.flex-column.justify-content-center.align-items-center {
        padding:0px;
    }

   
}



@media (max-width:991px) {
   
.blockpre1 {
        width: 100%;
        height: 2047.78px;
        background: white;
    }
   
}
 
/* css cho block2 */

.block2 .col-sm-12 {
    margin-bottom: 20px;
}


.block2 .col-sm-12 button {
   color:#666;
}

.block2 .col-sm-12 .card {
    background-color: #eee;
}

/* css cho block 3 */

.block3 {
    background-image: url(hinhpricing/bg-footer-2.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}

.block3 span.counting {
    color:#ec6952;
}

/* css cho block cuoi */

.phanblock9 ul li {
    list-style-type: none;
}

.phanblock9 {
    background-color: #253340;
}

.phanblock9 h3 {
color:white;
}

.phanblock9 li {
  color:  #7d9ab4;
  margin-bottom: 10px;
  font-size: 14;
}

.phanblock9 .phan2 i {
    color:#b3b2b2;
    font-size:23px;
}

.phanblock9 .phan2 i:hover {
    color:#ec6952;
    font-size:23px;
    
}

.phanblock9 .phan2 p {
    color:#b3b2b2;                  
}

.phanblock9 .phan2 button {
    background-color: #5d80a1;
    border : #5d80a1;
}
/* css cho phan block 10 */
.phanblock10 {
    background-color: #253340;
}

.phanblock10 h3 {
  color:white;
}

.phanblock10 .phan2 span {
    color:white;
}

.phanblock10 .phan2 p {
    color:white;
}

.phanblock10 .phan2 i {
    color:#b3b2b2; 
    margin-right:10px;
}

.phanblock10 a.btn {
    background: transparent;
    color:#fff !important;
}

/* css cho phan block cuoi */
.phanblockcuoi {
    background-color: #1c2630;
}

.phanblockcuoi p {
    color:#b3b2b2;
    font-size:14px;
}