* {

    padding: 0;
    margin: 0;

}



html,body {
width: 100%;
height: 100%;

}


.phannav .nenpage {
    background-color:#253340;
}




/* css cho phan nav */

.phannav a{
    color:white !important;
    font-size: 13px;
    margin: 0 15px 0 15px;
    font-weight: 500;
    
}

a.dropdown-item {
    text-transform: capitalize;
    font-size:14px ;
    font-weight:400 !important;
}
a.btn.btn-primary.btn-outline-white.text-uppercase {
    background-color: transparent;
    border: 1px solid white;
}

a.btn.btn-primary.btn-outline-white.text-uppercase:hover {
    background-color:#ec6952;
}

.phannav button {
    background-color: transparent !important;
    transform: scale(1.5)
}

.phannav .navbar-brand {
    font-size: 20px;
    color:white;
    font-weight:700;
    border: 1px solid #ec6952;;
    background: #ec6952;
    border-radius: 3px;
    padding: 13px 33px 13px 33px;
}

a.nav_1 {
    color:#ec6952 !important;
}


.dropdown:hover>.dropdown-menu
{
    display:block;
}



/* css cho phan tren */
.phantren img   {
    object-fit: cover;
    object-position: 0 0;
    height:700px;
}

@media  ( max-width:736px) {
.phantren img {
    height:800px;
}
.navbar-collapse {
    background: #253340;
}


}

@media  ( max-width:320px) {
    .phantren img {
        height:1100px;
    }
    .navbar-collapse {
        background: #253340;
    }
    
    .comment {
        width: 100%;
        height: 200px !important;
        
    }

    }




.phantren .carousel-caption a.btn {
    font-size: 18px;
    background: #ec6952;
    font-weight: 600;
    padding:10px 15px 10px 15px;
   
    

}

.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
  }

  .phantren .carousel-caption h2  {
    font-size: 46px;
    font-weight:500;
   

}

.phantren .carousel-caption p.hang_2,a.hang_2  {
    font-size: 19px;
   opacity: 0.8;
   margin-left:5px;
   

}


.phannav.scrolled {
    background-color:rgb(255, 255, 255) !important;
    transition: 0.5s;


  }

.navbar-brand.scrolled {
    background: transparent;
    border: none;
    transition: 0.5s;
    color:#ec6952;
}  

a.btn.btn-primary.btn-outline-white.text-uppercase.scrolled {
    background: #ec6952;
    border: none;
    transition: 0.5s;
    color: white !important;
}  


.phannav a.scrolled {
    color: #666 !important;
    transition: 0.5s;
}  

.a_nav_1.scrolled {
    color: black !important;
    transition: 0.5s;
}


i.fas.fa-bars.text-light.scrolled {
    transition: 0.5;
    color:black !important;
}

a.dropdown-item.m-0.scrolled {
    color: white !important;
    transition: 0.5s;
}

/* ccs cho phan block 2 */
    

.phanblock2 {
    width: 100%;
    height: 700px;
    padding-top:80px !important;
}

.comment {
    width: 100%;
    height: 160px;
    
}

.comment .commentlayer1 {
    width: 71%;
    height:100%; 
    background: #f5f5f5;
    right:0;
}

.comment .commentlayer2 {
    width: 73%;
    height:100%; 
    background: #e8e8e8;
    right:0;
}

.comment .commentlayer3{
    width: 5%;
    height:20px; 
    background: #e8e8e8;
    left:26%;
    transform: rotate(45deg);
    top:16%;
}

.comment .layerhinh {
    top:0;
    left:0;
}


.phanblock2 .block2phan2 {
    padding-top: 80px;
}

.phanblock2 h2 {
    font-size:32px;
    color:#444;
}

.phanblock2 p.intro {
    font-size: 16px;
    color:#999;
}


.phanblock2 .block2phan2 h3 {
    font-size: 26px;
    color: #4a6781;
    margin-bottom: 30px;
}